//$primary: #d75894;
//$secondary: #9b3dca;
//$background: #fafafa;

$themes: (
  "default": (
    primary: #d75894,
    secondary: #9b3dca,
    background: #fafafa,
  ),
  "dark": (
    primary: #5e84ff,
    secondary: #0dd0ff,
    background: #1b1918,
  )
);
